_build
CMakeUserPresets.json

# adds .vscode folder to ignored files
.vscode/**/*

# exclude these files from being ignored
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

*.spv
*.dxil

libs/renderer/external/inc
libs/renderer/external/src